/* 메인 */
.main-container {
	width: 720px;
	max-width: 720px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	border-radius: 16px;
}
.main-container > div:not(:first-child) {margin-top: 20px;}

/* 메인-헤더 */
.content-header {display: flex; flex-direction: row; padding: 20px;}
.content-header .title-wrap, .content-header .icon-wrap {display: inline-block; position: relative;}
.content-header .title-wrap {margin-left: 300px;}
.content-header .title-wrap span {position: relative; color: #222; font-size: 1.5rem; font-weight: 600;}
.content-header .icon-wrap {margin-left: auto;}
.content-header .icon-wrap .bi-cart3 {position: relative; width: 24px; height: 24px;}

/* 메인-메인 */
.content-main {
	width: 560px;
	min-width: 560px;
	height: auto;
	margin: 0 auto;
	background-color: #584632;
	border-radius: 8px;
}
.item-container {display: flex; flex-direction: column; padding: 20px 46px 0;}
.item-container .title-wrap span {position: relative; color: #fff; font-size: 1.125rem; letter-spacing: 0.05rem; font-weight: 500; font-family: inherit;}
.item-wrap {display: flex; padding: 0 20px 20px; overflow: hidden; width: 100%; height: auto; text-overflow: ellipsis; white-space: nowrap; flex-wrap: wrap;}
.item-wrap .item:nth-child(even) {margin-left: 20px;}

/* 아이템 */
.item {
	position: relative;
	display: inline-block;
	width: 200px;
	min-width: 200px;
	height: 200px;
	min-height: 200px;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 8px;
	text-align: center;
	justify-content: center;
	cursor: pointer;
}
.item:hover {opacity: 0.5; transition: 0.2s ease;}
.item > div:not(:first-child) {margin-top: 16px;}
.item .img-wrap img {width: 100%; height: 120px;}
.modal-img img{width: 100%; height: 200px;}
.item .desc-wrap {margin-top: 20px;}
.item .desc-wrap span {font-weight: 600; font-size: 1em;}
.item span {position: relative; color: #222; font-family: inherit; font-size: 0.875em; text-overflow: ellipsis; white-space: nowrap; letter-spacing: 0.05rem;}

/* 주문내역 */
.order-history {
	display: flex; 
	flex-direction: column; 
	background-color: lightsalmon; 
	width: 100%; 
	padding: 20px 20px 0;
}
.order-history > div:not(:last-child) {border-bottom: 1px solid #e5e5e5;}
.order-history .title {position: relative; font-size: 1.125rem; padding: 10px; font-weight: 600; font-family: inherit;}

.order-history .order-item {
	display: flex;
	flex-direction: row;
	width: 100%; 
	padding: 10px;
}
.order-history .total-price-wrap {display: flex; flex-direction: row; margin-left: auto; padding: 20px;}
.total-price-wrap h2 {margin-right: 60px;}
.total-price-wrap > span {margin-right: 10px;}
.total-price-wrap .won-text {margin-right: 0;}
.order-item span {position: relative; font-size: 0.875em; color: #222;}
.order-item .img-wrap img {position: relative; width: 75px; height: 75px;}
.order-item .desc-wrap {padding: 15px;}
.desc-wrap > div:not(:first-child) {padding-top: 5px;}
.desc-wrap .name-wrap span {font-weight: 600;}
.option-wrap > span:not(:first-child) {margin-left: 10px;}
.order-item .price-wrap {padding: 28px;}
.mg-left-auto {margin-left: auto; display: flex;}
.order-item .delete-button-wrap {padding: 28px;}
.delete-button-wrap svg {position: relative; cursor: pointer;}
.delete-button-wrap svg:hover {opacity: 0.5; transition: 0.2s ease;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.number-input {background-color: #fff; border: 2px solid #ddd; display: inline-flex; height: 1.5rem; margin-top: 26px;}
.number-input button {outline: none; -webkit-appearance: none; background-color: transparent; border: none; align-items: center; justify-content: center; width: 2rem; height: 1.25rem; cursor: pointer; margin: 0; position: relative;}
.number-input button:after {display: inline-block; position: absolute; font-family: "Font Awesome 5 Free"; font-weight: 900; content: '\f077'; transform: translate(-50%, -50%) rotate(180deg); font-size: 1rem;}
.number-input button.plus:after {transform: translate(-50%, -50%) rotate(0deg);}
.number-input input[type=number] {max-width: 3rem; padding: .5rem; border: solid #ddd; border-width: 0 2px; font-size: 1.125rem; height: 1.25rem; font-weight: bold; text-align: center;}

.button-wrap {display: inline-block; text-align: center; margin-bottom: 20px;}
.button-wrap button {border: none; background-color: #584632; color: #fff; padding: 18px 180px; font-size: 1.25rem; border-radius: 60px;}
.button-wrap button:hover {opacity: 0.5; transition: 0.2s ease;}

/* 모달(아이템) */
.modal-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 20px 0;
}
.modal-item > div:not(:first-child) {padding-top: 20px;}
.modal-item .modal-img {margin: 0 auto;}
.modal-item img {position: relative; width: 100%; height: 200px;}
.modal-item .desc, .modal-item span {text-align: center;}
.modal-item .menu-desc h2 {position: relative; font-size: 1.25rem; font-family: inherit; font-weight: 600;}

.modal-item .option-container {
	border: none;
	outline: none;
	background-color: #584632;
	color: #fff;
	padding: 20px;
	border-radius: 8px;
	margin-top: 40px;
}
.modal-item .option {display: flex; padding: 20px;}
.modal-item .option:not(:last-child) {border-bottom: 1px solid #e2e2e2;}
.modal-item .option h2 {padding-top: 6px; margin-top: 12px;}
.modal-item .mg-left-auto button:not(:first-child) {margin-left: 20px;}
.modal-item button {border-radius: 60px; border: 1px solid #ccc; width: 80px; max-width: 80px; padding: 6px 16px; font-size: 1rem;}
.modal-item button:hover {opacity: 0.5; transition: 0.2s ease;}

.select {padding: 15px 10px;	margin-left: 60px;}
.select input[type=radio]{display: none;}
.select input[type=radio]+label{border-radius: 60px; border: 1px solid #ccc; width: 80px; max-width: 80px; padding: 6px 16px; font-size: 1rem;}
.select #select2+label{color: #fff;margin-left: 20px;}
.select input[type=radio]:checked+label{background-color: #000000;color: #fff;}



.select1 {padding: 15px 10px;margin-left: 40px;}
.select1 input[type=radio]{display: none;}
.select1 input[type=radio]+label{border-radius: 60px; border: 1px solid #ccc; width: 80px; max-width: 80px; padding: 6px 16px; font-size: 1rem;}
.select1 #select4+label{margin-left: 20px;}
.select1 input[type=radio]:checked+label{background-color: #000000;color: #fff;}