<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery.js}"></script>
  <style>
      .menu-container {
          width: 100%;

      }

      .menuDetail {
          float: left;
          text-align: center;
          margin-bottom: 20px;
          width: 430px;
          height: 350px;
      }

      .orderHistory {
          border: 1px #000000 solid;
          height: 300px;
          width: 900px;
          margin-top: 850px;
          margin-left: 70px;
      }
  </style>
</head>
<body>

<div class="menu-container" th:each="coffee:${menu}">
  <a class="menu" data-bs-toggle="modal" href="#exampleModal" th:data-menu="${coffee.menu}"
     th:data-price="${coffee.price}"
     data-th-price="${coffee.price}">
    <div class="menuDetail">
      <img th:src="@{/img/coffee.png}"></br>
      <span th:text="${coffee.menu}"></span>
      <span th:text="${coffee.price}"></span>
    </div>
  </a>
</div>
</br>
<div class="footer-container">
  <div class="orderHistory" id="orderHistory">
    <span>주문내역</span>
  </div>
  <div class="totalPrice" id="totalPrice">
    <span>토탈</span>
  </div>
</div>


</body>

</html>