<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<script th:src="@{/js/bootstrap.bundle.min.js/}"></script>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/sweetalert2.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section>
		<div class="main-container">
			<div class="content-header">
				<div class="title-wrap">
					<span>주문하기</span>
				</div>
				<div class="icon-wrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
				</div>
			</div>
			<div class="content-main">
				<div class="item-container">
					<div class="title-wrap">
						<span>음료를 선택해주세요.</span>
					</div>
					<div class="item-wrap">
						<div class="item" th:each="coffee:${menu}">
							<a href="javaScript:;" th:onclick="selectOption([[${coffee.menu}]],
							[[${coffee.price}]], [[${coffee.menuFileName}]])">
							<div class="img-wrap">
								<img th:src="@{|/upload/${coffee.menuFileName}|}" alt="...">
							</div>
							<div class="desc-wrap">
								<span th:text="${coffee.menu}"></span>
							</div>
							<div class="price-wrap">
								<span th:text="${coffee.price}"></span>
								<span>원</span>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="order-history">
				<h2 class="title">주문내역</h2>
				<div class="order-item" id="order-item">
					<div class="desc-wrap">
						<div class="name-wrap">
							<span></span> <!-- menu-->
						</div>
						<div class="option-wrap">
							<span></span> <!-- shot -->
							<span></span> <!-- temp -->
						</div>
					</div>

				</div>
				<div class="total-price-wrap">
					<h2>총 주문금액</h2>
					<span class="won-text" id="won-text"></span>
					<span class="won-text">원</span>
				</div>
			</div>
			<div class="button-wrap">
				<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">주문하기</button>
			</div>
		</div>
	</section>

	<!-- 모달(아이템) -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">옵션 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-item">
						<div class="modal-img">
							<img src="" id="menuFileName" alt="...">
						</div>
						<div class="menu-desc">
							<h2 class="desc" id="coffee-m"></h2>
							<input type="hidden" id="menu" name="menu">
						</div>
						<div class="menu-price desc">
							<span id="coffee-p"></span>
							<input type="hidden" id="price" name="price">
							<span>원</span>
						</div>
						<div class="option-container">
							<div class="option-shot option">
								<h2>샷 추가</h2>
								<div class="select">
									<input type="radio" id="select" name="shot" value="500"><label for="select">One+</label>
									<input type="radio" id="select2" name="shot" value="1000"><label for="select2">Two+</label>
								</div>
							</div>
							<div class="option-temp option">
								<h2>커피 온도</h2>
								<div class="select1">
									<input type="radio" id="select3" name="temp" value="HOT"><label for="select3">HOT</label>
									<input type="radio" id="select4" name="temp" value="ICE"><label for="select4">ICE</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="orderDetail()">주문담기</button>
				</div>
			</div>
		</div>
	</div>

<!-- orderModal-->
	<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel1">적립</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					휴대폰 번호 입력: <input type="text" id="mobile" name="mobile">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" onclick="coupon()" class="btn btn-primary">적립하기</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>