<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.bundle.min.js/}"></script>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/sweetalert2.min.js}"></script>

	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section>
		<div class="main-container">
			<div class="content-header">
				<div class="title-wrap">
					<span>주문하기</span>
				</div>
				<div class="icon-wrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
				</div>
			</div>
			<div class="content-main">
				<div class="item-container">
					<div class="title-wrap">
						<span>음료를 선택해주세요.</span>
					</div>
					<div class="item-wrap">
						<div class="item" th:each="coffee:${menu}">
							<a href="javaScript:;" th:onclick="selectOption([[${coffee.menu}]], [[${coffee.price}]], [[${coffee.menuFileName}]])">
							<div class="img-wrap">
								<img th:src="@{|/upload/${coffee.menuFileName}|}" alt="...">
							</div>
							<div class="desc-wrap">
								<span th:text="${coffee.menu}"></span>
							</div>
							<div class="price-wrap">
								<span th:text="${coffee.price}"></span>
								<span>원</span>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="order-history">
				<h2 class="title">주문내역</h2>
				<div class="order-item" id="order-item">
					<div class="desc-wrap">
						<div class="name-wrap">
							<span></span> <!-- menu-->
						</div>
						<div class="option-wrap">
							<span></span> <!-- shot -->
							<span></span> <!-- temp -->
						</div>
					</div>
					<div class="price-wrap">
						<span></span> <!-- price -->
					</div>
				</div>
				<div class="total-price-wrap">
					<h2>총 주문금액</h2>
					<span class="won-text" id="won-text"></span>
					<span class="won-text">원</span>
				</div>
			</div>
			<div class="button-wrap">
				<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">주문하기</button>
			</div>
		</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">주문내역</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<img class="modal-img" id="menuFileName" src="" alt="...">
					<p id="coffee-m"></p>
					<p id="coffee-p"></p>
					<input type="hidden" id="menu" name="menu">
					<input type="hidden" id="price" name="price">
					<input type="radio" name="temp" value="HOT">HOT
					<input type="radio" name="temp" value="ICE">ICE
					</br>
					<input type="radio" name="shot" value="500">원샷+
					<input type="radio" name="shot" value="1000">투샷+
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" th:onclick="orderDetail()" class="btn btn-primary">주문담기</button>
				</div>
			</div>
		</div>
	</div>

<!-- orderModal-->
	<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel1">적립</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					휴대폰 번호 입력: <input type="text" id="mobile" name="mobile">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" onclick="coupon()" class="btn btn-primary">적립하기</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javaScript">
	const selectOption = (menu, price, menuFileName) => {
		$(".modal-body #menu").val(menu);
		$(".modal-body #price").val(price);
		$(".modal-body #menuFileName").attr("src", /upload/ + menuFileName);
		$(".modal-body #coffee-m").html(menu);
		$(".modal-body #coffee-p").html(price);
		$('#exampleModal').modal('show');
	}

	const coupon = () => {
		var mobile = document.getElementById("mobile").value;


		$.ajax({
			type: "delete",
			url: "/orderDelete",
			data: {},
			success: function () {
				$.ajax({
					type: "post",
					url: "/coupon",
					data: {
						"mobile": mobile
					},
					dataType: "text",
					success: function (result) {
						if (result != null) {
							$('#exampleModal1').modal('hide');
							document.getElementById("mobile").value = null;
							Swal.fire({
								text: '주문이 완료 되었습니다.\n 적립된 쿠폰은' + result + '개입니다.',
								showConfirmButton: false,
								timer: 2000
							}).then(function () {
								location.href = "/";
							});
						}
					}
				});
			}
		});
	}

	const orderDetail = () => {
		const menu = document.getElementById("menu").value;
		const price = document.getElementById("price").value;
		const orderItem = document.getElementById("order-item");
		const wonText = document.getElementById("won-text");
		var temp = $('input[name=temp]:checked').val();
		var shot = $('input[name=shot]:checked').val();

		$.ajax({
			type: "post",
			url: "/orderSave",
			data: {
				"menu": menu,
				"price": price,
				"temp": temp,
				"shot": shot
			},
			dataType: "json",
			success: function (result) {
				if (result != null) {
					$('#exampleModal').modal('hide');
					$("input:radio[name='temp']").prop('checked', false);
					$("input:radio[name='shot']").prop('checked', false);
					var output = "";

					for (let i in result) {

						output += "<div class=\"img-wrap\">" +
										"<img src=\"img/coffee.png\" alt=\"...\">" +
										"</div>" +
										"<div class=\"desc-wrap\">" +
										"<div class=\"name-wrap\">" +
										"<span>" + result[i].menu + "</span>" +
										"</div>" +
										"<div class=\"option-wrap\">";
						if (result[i].shot == "500") {
							output += "<span>" + "원샷" + "</span>";
						} else {
							output += "<span>" + "투샷" + "</span>";
						}
						output += "<span>" + result[i].temp + "</span>" +
										"</div>" +
										"</div>" +
										"<div class=\"price-wrap\">" +
										"<span>" + result[i].price + "</span>" +
										"</div>" +
										"<div class=\"delete-button-wrap\">" +
										"<svg onclick=\"cartDelete(" + result[i].id + ")\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-x-circle-fill\" viewBox=\"0 0 16 16\">" +
										"<path d=\"M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z\"/>" +
										"</svg>" +
										"</div>";
					}
					$.ajax({
						type: "get",
						url: "/totalPrice",
						data: {},
						dataType: "text",
						success: function (str) {
							wonText.innerHTML = str;
							orderItem.innerHTML = output;
						}
					});
				}
			}
		});
	}

	const cartDelete = (id) => {
		const orderItem = document.getElementById("order-item");
		const wonText = document.getElementById("won-text");

		$.ajax({
			type: "delete",
			url: "/cartDelete",
			data: {
				"id": id
			},
			dataType: "json",
			success: function (result) {
				if (result != null) {
					var output = "";

					for (let i in result) {
						output += "<div class=\"img-wrap\">" +
										"<img src=\"img/coffee.png\" alt=\"...\">" +
										"</div>" +
										"<div class=\"desc-wrap\">" +
										"<div class=\"name-wrap\">" +
										"<span>" + result[i].menu + "</span>" +
										"</div>" +
										"<div class=\"option-wrap\">";
						if (result[i].shot == "500") {
							output += "<span>" + "원샷" + "</span>";
						} else {
							output += "<span>" + "투샷" + "</span>";
						}
						output += "<span>" + result[i].temp + "</span>" +
										"</div>" +
										"</div>" +
										"<div class=\"price-wrap\">" +
										"<span>" + result[i].price + "</span>" +
										"</div>" +
										"<div class=\"delete-button-wrap\">" +
										"<svg onclick=\"orderDelete(" + result[i].id + ")\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-x-circle-fill\" viewBox=\"0 0 16 16\">" +
										"<path d=\"M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z\"/>" +
										"</svg>" +
										"</div>";
					}
					$.ajax({
						type: "get",
						url: "/totalPrice",
						data: {},
						dataType: "text",
						success: function (str) {

							wonText.innerHTML = str;
							orderItem.innerHTML = output;
						}
					});
				}
			}
		});
	}

	$(document).on("click", ".menu", function () {
		var menu = $(this).data("menu");
		var price = $(this).data("price");
		var menuFileName = $(this).data("menuFileName");
		$(".modal-body #menu").val(menu);
		$(".modal-body #price").val(price);
		$(".modal-body #menuFileName").attr("src", /upload/ + menuFileName);
		$(".modal-body #coffee-m").html(menu);
		$(".modal-body #coffee-p").html(price);
	});
</script>
</html>